body {
  background-color: #fff;
}

#navigation {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: #fff;
}

#navigation li {
  display: inline;
}

#navigation a {
  color: #000;
  text-decoration: none; 
  padding: 0 10px;
}

#messages {
  border-width: 1px 0;
  border-color: #ddd;
  background-color: #ff8;
  margin:10px 0;
  padding:10px;
}

.profile {
  margin-bottom: 20px; 
}

ul {
  list-style-type: none;
}

ul, li {
  margin: 0;
  padding: 0; 
}